.profileCard{
	max-width: 300px;
	height: 100%;
	background: #c6d5e2;
	margin: 0 auto;
	padding: 15px;
}	
	.profileCard_header{
		margin: 0;
	}
	.profileCard_body{}
	.profileCard_footer{}
	.profileCard_title{
		text-align: center;
	}
	.profileCard_photo{
		max-width: 200px;
		display: block;
		margin: 0 auto;
	}
	